body {
    margin: 0;
    background-image: url(../img/bgwhite.png);
    
   
    /* background-color: white; */
    /* background-size: cover;
    background-position: top; */ 
    background-position: left bottom -80px;
    background-repeat: no-repeat;
  
}
#event-column-1{
    margin-left: 20px;
    margin-top: 20px;
}
.logo img {
    width: 244px;
    margin-top: -10px;
    padding-bottom: 50px;
}

.sideBtn {
    display: flex;
    float: right;
    padding: 20px;
}

.sidebar {
    font-family: 'Kablammo', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(30, 30, 30);
    overflow-x: hidden;
    padding-top: 100px;
    transition: 0.5s;
}

.sidebar div a:hover {
    color: peru;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 8px 8px 40px 55px;
    font-size: 18px;
    display: block;
    transition: 0.3s;
}


.sidebar a:hover {
    color: peru;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    margin-top: -5px;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: black;

    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    color: peru;
}

.event-container-1 {
    display: flex;
}

.subnav {
    font-family: 'Kablammo', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    margin-left: 65px;
}

.subnav-title {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 5px solid black;
    width: 120px;
    padding-bottom: 20px;
}

.subnav-links {
    display: grid;
    padding-top: 50px;
    gap: 15px;
}

.subnav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.subnav-links a:focus {
    color: blue;
}

.subnav-links a:hover {
    color: brown;
}

#event-column-2 {
    margin-top: 80px;
    margin-left: 75px;
    color: black;
}

#event-title-1 {
    font-family: 'Kablammo', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 25px;
}

/* #event-desc {
    margin-top: 10px;
    padding: 10px 20px 30px 20px;
    border-radius: 30px;
    max-width: 1800px;
    background: rgba(5, 4, 4, 0.5);
} */

#event-desc p {
    font-family: 'Kablammo', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: black;
    line-height: 35px;
    padding: 0px 30px 0px 30px;
}

#event-coming-image {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

#event-coming-image p {
    margin: auto;
    margin-left: 23%;
    font-family: 'Kablammo', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

#event-coming-image img {
    transition: transform .2s;
    width: 380px;
    border-radius: 30px;
}

#event-coming-image img:hover {
    transform: scale(1.5);
}

/*Tablet view*/
@media screen and (max-width: 820px) {
    body {
        background-size: cover;
        background-position-x: center;
        padding-bottom: 40px;
        background-image: none;
    }

    .logo img {
        width: 170px;
        margin-top: -5px;
        margin-left: -10px;
    }

    .subnav {
        margin-left: 35px;
    }

    .sideBtn {
        position: sticky;
        top: 0;
        right: 0;
    }

    #event-desc {
        max-width: 400px;
        padding: 10px 20px 10px 20px;
    }

    #event-desc p {
        font-size: 16px;
    }

    #event-coming-image {
        display: block;
        margin-left: 15px;
    }

    #event-coming-image p {
        margin: auto;
        margin-left: 27%;
        margin-bottom: 20px;
        font-size: 12px;
    }
    #event-column-2 iframe{
        width: 400px;
        height: 400px;
    }
}
/* 600px */
@media screen and (max-width: 620px) {
    body {
        background-position-x: center;
        background-image: none;
    }

    #event-title-1 {
        margin-left: -40px;
        font-size: 28px;
    }

    .sideBtn {
        position: sticky;
        top: 0;
        right: 0;
    }

    .event-container-1 {
        display: block;
    }

    #event-desc {
        margin-left: -45px;
        margin-right: 30px;
    }

    #event-coming-image img {
        width: 290px;
    }

    #event-coming-image p {
        margin-left: 23%;
    }

    #event-coming-image img:hover {
        transform: scale(1.2);
    }
    .subnav-links {
        display: flex;
        text-align: center;
        margin-right: 40px;
    }

    .subnav-links a {
        font-family: 'Kablammo', cursive;
        font-family: 'Lato', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
    }
 
    #event-column-2 iframe{
        width: 400px;
        height: 350px;
    }
}  
/*Mobile view*/
@media screen and (max-width: 420px) {
    body {
        background-position-x: center;
        background-image: none;
    }

    #event-title-1 {
        margin-left: -40px;
        font-size: 28px;
    }

    .sideBtn {
        position: sticky;
        top: 0;
        right: 0;
    }

    .event-container-1 {
        display: block;
    }

    #event-desc {
        margin-left: -45px;
        margin-right: 30px;
    }

    #event-coming-image img {
        width: 290px;
    }

    #event-coming-image p {
        margin-left: 23%;
    }

    #event-coming-image img:hover {
        transform: scale(1.2);
    }
    .subnav-links {
        display: flex;
        text-align: center;
        margin-right: 40px;
    }

    .subnav-links a {
        font-family: 'Kablammo', cursive;
        font-family: 'Lato', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
    }
 
    #event-column-2 iframe{
        width: 300px;
        height: 350px;
    }
}  

.out-coming h1{
    color: black;
    margin-left: 15%;
}

.coming{
    font-size: 30px;
    font-weight: bold;
    margin-left: 5%;
    color: black;
}

.imgpost img{
    margin-top: 10%;
}